:root {
  --primary: #222222;
  --bg: #353435;
  --secondary: #CDDC39;
  --hover: #a7b61d;
}

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

html {
  background-color: var(--primary);
  color: var(--secondary);
  scroll-behavior: smooth;
}

/* article {
  display: block;
} */

.container {
  width: 70%;
  margin: 30px auto;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar h1 {
  font-size: 3.6rem;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li {
  font-size: 3rem;
  font-weight: 700;
  list-style: none;
  margin-left: 43px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: var(--secondary);
}

.section1 {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg);
  color: #fff;
}

.section1 h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 25px;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
}

.section1 .left-side {
  max-width: 600px;
  min-width: 400px;
  margin: 40px;
}

.section1 .right-side {
  display: grid;
}

.section1 .right-side .right-side-grid{
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-self: center;
  row-gap: 30px;
  margin: 50px 0;
}

.section2 {
  padding: 50px;
  margin-top: 50px;
  height: 700px;
  background-color: var(--bg);
}

.section2 .box-container {
  margin: auto;
  padding: 50px;
  width: 530px;
  height: 530px;
  background-color: var(--bg);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.35), -10px -10px 50px rgba(225, 225 , 225, 0.15);
}

.section2 .box-container form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  font-size: 2.5rem;
  font-weight: bold;
  row-gap: 30px;
}

input {
  height: 55px;
  font-size: 2rem;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  padding-left: 10px;
}

input::placeholder {
  color: var(--secondary);
}

.btn {
  margin-top: 80px;
  font-size: 2.5rem;
  font-weight: bold;
  width: 100%;
  height: 55px;
  background-color: var(--secondary);
  border-radius: 10px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--hover);
}

.calcSection { 
  display: flex;
  justify-content: space-between;
}

.input-row {
  font-size: 2.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-row input {
  width: 200px;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.totals {
  display: flex;
  justify-content: space-between;
}

.values {
  display: flex;
}

.values p {
  margin-left: 50px;
}

.total {
  width: 200px;
}

.percentage {
  width: 70px;
  margin-left: 10px;
}

.calc-left-side {
  width: 600px;
  align-content: center;
}

.calc-right-side {
  width: 600px;
}


.calc-left-side input {
  width: 95px;
  margin: 10px;
}

.headers {
  display: flex;
  justify-content: space-between;
}

.percentages-header {
  display: flex;
}

.percentages-header h3 {
  margin: 0 20px;
}

.analysis {
  margin-top: 0;
}

.final-analysis-content h3 {
  margin-bottom: 0;
  display: none;
}

.final-analysis-content p {
  font-size: 2.5rem;
}

.final-analysis-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  min-width: 500px;
  font-size: 1.5rem;
  line-height: 25px;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  bottom: 100%;
  left: -100%;
  z-index: 1000;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

ion-icon {
  font-size: 2.5rem;
  margin-left: 5px;
}

hr {
  margin: 20px 0;
  border: 1px solid var(--secondary);
}

@media screen and (max-width: 1025px){
  .section1 {
    flex-direction: column;
  }
}