* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #27292d;
  --shadow: #15171b;
  --secondary: #CDDC39;
}

html {
  background-color: var(--bg);
  color: var(--secondary);
  font-family: monospace;
  font-size: 15px;
}

img {
  width: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 700px;
  position: relative;
  top: 200px;
  align-items: center;
}

.cuadrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.triangulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: 100px;
}

header h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

input {
  width: 100px;
  height: 30px;
  border: 1px solid gray;
  margin: 10px 0;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  padding-left: 10px;
}

button {
  width: 200px;
  height: 30px;
  margin: 10px 0;
  background-color: var(--secondary);
  border: none;
  font-weight: 900;
  font-size: 12px;
  border-radius: 8px;
}

h2 {
  margin: 20px 0;
  text-transform: uppercase;
}

.cuadrado input {
  justify-items: center;
}